/* !!!!!!!!!!card set!!!!!! */
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--index__current-gap);
}

.flex-basis {
    flex-basis: calc((100% - (var(--index__nunber-of-indentations) * var(--index__current-gap))) / var(----index__number-of-cards));
}

