/* !!!!!!!!!!card set!!!!!! */
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indexCurrentGap);
}

.flex-basis {
    width: calc((100% - (var(--indexNumberOfIndentations) * var(--indexCurrentGap))) / var(--indexNumberOfCards));
}

.portfolio__item {
    width: calc ((100% - (var(--portfolioNumberOfIndentations) * var(--portfolioCurrentGap))) / var(--portfolioNumberOfCards));
}

